.reveal section.logos img {
   background: none;
   border-color: #111;
   box-shadow: none;
   padding: 20px;
   margin: 20px;
}

.reveal section.logos a:hover img {
   border-color: #e7ad52;
}

.reveal pre.console-highlight {
   background: #3f3f3f;
   color: #efefef;
   font-family: monospace;
   font-size: 1.1em;   
   line-height: 1.5;
   padding: 20px 30px;
}

.reveal .sample-js pre {
   font-size: 0.95em;
   width: 100%;
}

.reveal .sample-js pre code {
   max-height: 800px
}

.reveal ul.footnotes {
   list-style: none;
   margin-top: 100px;
   font-size: 0.8em;   
}